<% JSON.parse(@subticket.content).each_with_index do |item, index| %>
  <div class="form-group">
    <div class="answer-row">
      <div class="option-value-ans">
        <label>Question <%= index + 1 %>: 
          <%= Question.find(item[0]).question %>
        </label>
      </div>
    </div>
  </div>
  <br>
  <% item[1].each do |ans| %>
    <div class="form-group">
      <%= Answer.find(ans).answer %>s
    </div>
  <% end %>
  <br>
<%  end %>
