<!-- Footer -->
<footer class="page-footer font-small unique-color-dark" style="width: 100%">
  <!-- Footer Links -->
  <div class=" text-center text-md-left mt-5">
    <!-- Grid row -->
    <div class="row mt-3">
      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">Quiz Online</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>The exam is coming but you know no way to review your last lessons. You’re confusing? You get into a state of panic then?
          Don’t worry! Turn <b>Quiz Online</b> on and check it out, let we show you that without difficulty to get a first-rate.</p>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Products</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="/"> Quiz Online </a>
        </p>
        <p>
          <a href="/help"> Help </a>
        </p>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Social networks</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></i> Facebook</a>
      </p>
      <p>
        <a href="https://twitter.com/login"><i class="fab fa-google-plus-square"></i> Twitter</a>
      </p>
      <p>
        <a href="https://www.linkedin.com/login"><i class="fab fa-linkedin"></i> Linkedin</a>
      </p>
      <p>
        <a href="https://www.instagram.com/"><i class="fab fa-instagram-square"></i> Instagram</a>
      </p>
    </div>
    <!-- Grid column -->
    <!-- Grid column -->
    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
      <!-- Links -->
      <h6 class="text-uppercase font-weight-bold">Contact</h6>
      <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
      <p>
        <i class="fas fa-home mr-3"></i> Da Nang ,VN</p>
      <p>
        <i class="fas fa-envelope mr-3"></i><a href="mailto:hotro.testonline@gmail.com" > hotro.testonline@gmail.com</a></p>
      <p>
        <i class="fas fa-phone mr-3"></i> + 84 919 9999</p>
      <p>
        <i class="fas fa-print mr-3"></i> + 84 919 8888 </p>
    </div>
    <!-- Grid column -->
  </div>
  <!-- Grid row -->
</div>
<!-- Footer Links -->
<!-- Copyright -->
<div class="footer-copyright text-center py-3">© 2020 Copyright:
  <a href="https://getbootstrap.com/">Bootstrap.com</a>
</div>
<!-- Copyright -->
<div style="background-color: #212529;">
  <div class="">
    <!-- Grid row-->
    <div class="row py-4 d-flex align-items-center" style="background-color: #212529" >
      <!-- Grid column -->
      <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
        <h6 class="mb-0" style="color:#007bff;">Get connected with us on social networks!</h6>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-6 col-lg-7 text-center text-md-right">
        <a class="fb-ic" href="https://www.facebook.com/">
          <i class="fab fa-facebook-f white-text mr-4"> </i>
        </a>
        <a class="tw-ic" href="https://twitter.com/login">
          <i class="fab fa-twitter white-text mr-4"> </i>
        </a>
        <a class="li-ic" href="https://www.linkedin.com/login" >
          <i class="fab fa-linkedin-in white-text mr-4"> </i>
        </a>
        <a class="ins-ic" href="https://www.instagram.com/" >
          <i class="fab fa-instagram white-text"> </i>
        </a>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row-->
  </div>
</div>
</footer>
<!-- Footer -->
