<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action disabled">Categories</a>
  <a href="#" class="list-group-item list-group-item-action">Math</a>
  <a href="#" class="list-group-item list-group-item-action">Physical</a>
  <a href="#" class="list-group-item list-group-item-action">Chemistry</a>
</div>
