<div class="list-group">
  <a style="font-family: 'Roboto Slab', serif; background-color: #007bff;" class="list-group-item list-group-item-action active"><b>Categories</b></a>
  <% @categories.each do |item| %>
    <%= link_to("#{item.title}", root_path(:subject => item.title), style: "font-family: 'Roboto Slab', serif;", class: "list-group-item list-group-item-action list-group-item-light") %>
  <% end %>
</div>
