<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="jumbotron text-center">
      <h1>Quiz Online Help</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h3><%= link_to "How do you set up a ticket?", create_ticket_path %></h3>
          <p>Instructions for placing import file data.</p>
          <p>Steps to create a ticket.</p>
        </div>
        <div class="col-sm-4">
          <h3><%= link_to "How do you set up a subticket?", create_subticket_path %></h3>
          <p>The options of a subticket.</p>
          <p>Steps to create a subticket.</p>
        </div>
        <div class="col-sm-4">
          <h3><%= link_to "How do you set up a competition?", create_competition_path %></h3>
          <p>The options of a subticket.</p>
          <p>Steps to create a subticket.</p>
        </div>
      </div>
    </div>
    <div class="help-btn">
      <p><%= link_to "Home", root_path, class:"btn btn-primary" %></p>
    </div>
  </body>
  <style>
    .help-btn{
      margin-top: 150px;
      display:flex;
      justify-content: center;
    }
  </style>
