<% if ans.is_correct %>
  <a class="dropdown-item" style="background-color: green"><%= ans.answer %></a>
<% else %>
  <a class="dropdown-item" style="background-color: #ddeeff"><%= ans.answer %></a>
<% end %>
