<tr>
  <td>
    <%= "Q#{@ques_index += 1}: #{qs.question}" %> <br>
    <div class="btn-group">
      <button style="background-color: #ddeeff" type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Answers
      </button>
      <div class="dropdown-menu">
        <%= render partial: "/creator/questions/shared/answers", collection: qs.answers, as: :ans %>
      </div>
    </div>
  </td>
  <td style="text-align: center">
    <%= link_to("<i class='fas fa-trash-alt'></i>".html_safe, question_path(qs), method: :delete, data: { confirm: 'Are you certain?' }, class:"btn btn-warning") %>
  </td>
</tr>
