<h2 style="color: gray">Your Tickets:</h2>
<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Code</th>
        <th scope="col">Title</th>
        <th scope="col">Category</th>
        <th scope="col" style="text-align: center">Options</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "/creator/tickets/shared/tickets", collection: @tickets, as: :ticket %>
    </tbody>
  </table>

  <%= link_to("Add new Ticket", new_ticket_path, class: "btn btn-success") %>
</div>
