<div class="checkbox border" >
  <label class="answer-select">
  <%= radio_button_tag 'goi ajax ne', an.id, nil,
    data: {
      remote: true,
      url: url_for(action: :oncheckboxchange, answer_id: an.id, ticket_id: @ticket.id),
      method: "GET"
    } %>
  <span>&nbsp;&nbsp;<%= an.answer %></span>
  </label>
</div>
