<div class="mySlides fade group-ans-ques">
  <div class="ticket-question">
    <div id="questions-group">
      <b id="questions"><%= "Question #{@ques_index += 1}:" %></b>
      <hr>
    </div>
    <div id="questions-group-ques">
      <span id="questions-text"><%= "#{quest.question}" %></span>
    </div>
  </div>
  <div class="ticket-answer">
    <%= if Answer.where(question_id: quest.id, is_correct: true).size > 1
      render partial: "/guest/exam/shared/answers_checkbox", collection: quest.answers.shuffle, as: :an
    else
      render partial: "/guest/exam/shared/answers_radio", collection: quest.answers.shuffle, as: :an
    end %>
  </div>
</div>
